
    <!-- Footer -->
    <footer class="py-3 footernav blog-footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BlogMania 2020</p>
      </div>
      <!-- /.container -->
    </footer>
  </div>
  <!-- END HOME   -->

  </div>


  <!-- Modal 1-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Blog</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="body" style="overflow:hidden;">
            <form action="form" id="form" method="post" name="form">
              <!-- <input type="image" id="img" src="http://placehold.it/750x300" alt="Submit" width="750" height="300"> -->


              <div class="form-group">
                <label for="usr">Title:</label>
                <input id="title" name="title" placeholder="Title" type="text" class="form-control">
              </div>

              <div class="form-group">
                <label for="sel1">Category:</label>
                <select class="form-control" name="category" id="category">
                  <% gcat %>
                  <option value="<%= gcat._id %>" hidden><%= gcat.category %></option>


                  <% for (var i=0; i<cdatas.length; i++)
                {%>

                  <option value="<%= cdatas[i]._id %>"><%= cdatas[i].category %></option>
                  <%}%>

                </select>
              </div>

              <div class="form-group">
                <label for="comment">Description:</label>
                <textarea id="dec" class="form-control" placeholder="Description" name="dec" rows="5"
                  id="comment"></textarea>
              </div>


              <!-- <div class="form-group">
                <label for="usr">Date:</label>
                <input id="date" name="date" placeholder="Date" type="date" class="form-control" id="usr">
              </div> -->

              <div class="form-group">
                <label for="usr">Image:</label>
                <input id="image" name="image" placeholder="Image" type="file" class="form-control" id="usr"
                  accept="image/*">
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" onclick="check_empty(event)">Submit</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- new category -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="body" style="overflow:hidden;">
            <form action="form2" id="form2" method="post" name="form">
              <!-- <input type="image" id="img" src="http://placehold.it/750x300" alt="Submit" width="750" height="300"> -->


              <div class="form-group">
                <label for="exampleInputEmail1">Add Category</label>
                <input type="text" class="form-control" id="category2" name="category" aria-describedby="emailHelp"
                  placeholder="add category">
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" onclick="check_category_empty(event)">Submit</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="/check.js" type="text/javascript"></script>

</body>
