      <!-- SIDE MENU -->
      <div class="row">
        <div class="col-lg-2">
          <div id="viewport">
            <!-- Sidebar -->
            <div id="sidebar">
              <span><i class="fa fa-bars navbar-toggler" id="toggler"></i></span>

              <header>
                <span class="h2 side-menu" style="color: azure;line-height: inherit;">Menu</span>
              </header>
              <ul class="nav vertical">
                <li>
                  <a href="<%if(path==='/admin'){%>/allblogs<%}%><%if(path==='/allblogs'){%>/admin<%}%>
                    <%if(path==='/asearched'){%>/admin<%}%><%if(path==='/categories'){%>/allblogs<%}%>" class="allblogs">All Blogs</a>
                </li>
                <li>
                  <a href="#" class="addnewblog" data-toggle="modal" data-target="#exampleModal">
                    Add New Blog
                  </a>
                </li>
                <li>
                  <a href="<%if(path==='/categories'){%>/admin<%}else{%>/categories<%}%>" class="cate allcategory">
                    All Categories
                  </a>
                </li>
                <li>
                  <a href="#" class="addnewcategory" data-toggle="modal" data-target="#exampleModal2">
                    Add New Category
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>