    <!-- Footer -->
    <footer class="py-3 footernav blog-footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BlogMania 2020</p>
      </div>
      <!-- /.container -->
    </footer>
  </div>
  <!-- END HOME   -->

  <!-- START FORM -->
  <div class="form">
    <form method="post" action="/register" id="formid">
      <div class="box">
        <h1>Admin Login</h1>

        <input type="text" name="username" placeholder="name" onFocus="field_focus(this, 'email');"
          onblur="field_blur(this, 'email');" class="email" />

        <input type="password" name="password" id="password" placeholder="password"
          onFocus="field_focus(this, 'password');" onblur="field_blur(this, 'password');" class="password" />

        <button type="submit" class="formbtn">Sign In</button>
        <!-- End Btn -->

      </div> <!-- End Box -->

    </form>

  </div>
  <!-- END FORM -->

</body>