<%- include('./partials/header') %>
<!-- Page Content -->
<div class="container-fluid">

  <!-- SIDE MENU -->
  <div class="row">
    <div class="col-lg-2">
      <div id="viewport">
        <%- include('./partials/sidebar') %>
      </div>
    </div>
  </div>

  <!-- Blog Entries Column -->
  <div class="col-md-6">

    <div class="blogs">

      <% if(search){ %>

      <% if(datas && datas.length <= 0) {%>
      <p class="display-1">No such Blogs</p>
      <%} else { %>
      <div class="row">
        <h1 class="col-9 mt-2">Trending Blogs</h1>
        <span class="col-3 lead mt-4"><%= datas && datas.length%> Blogs found</span>
      </div>

      <hr>

      <% datas && datas.forEach((data)=>{ 
            
            let link = "/images/"+data.imageURL;
            %>
      <!-- Blog Post -->
      <div class="card mb-4 img-shadow">
        <img class="card-img-top" src="<%= link %>" alt="Card image cap">
        <div class="card-body">
          <div class="row">
            <h2 class="card-title col-8"><%= data.title %></h2>
            <h2 class="lead col-4">Category : <%= data.category.category %></h2>
          </div>
          <p class="card-text"><%= data.description.substring(0,120) + "..." %></p>

          <a href="/admin/<%= data.slug_title%>" target="_blank" class="btn btn-primary read-more-btn">Read More
            &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on <%= data.date %> by
          <a href="https://in.linkedin.com/in/milan-nimavat-992389165?trk=public_profile_samename_profile_profile-result-card_result-card_full-click"
            target="_blank">Milan Nimavat</a>
        </div>
      </div>
      <% })%>
      <% } %>

      <% }else{ %>

      <% if(datas && datas.length <= 0) {%>
      <p class="display-1">Blogs not found</p>
      <%} else { %>
      <div class="row">
        <h1 class="col-9 mt-2">Trending Blogs</h1>
        <span class="col-3 lead mt-4"><%= datas && datas.length%> Blogs found</span>
      </div>
      <hr>

      <% datas && datas.forEach((data)=>{ 
          
          let link = "/images/"+data.imageURL;
          %>
      <!-- Blog Post -->
      <div class="card mb-4 img-shadow">
        <img class="card-img-top" src="<%= link %>" alt="Card image cap">
        <div class="card-body">
          <div class="row">
            <h2 class="card-title col-8"><%= data.title %></h2>
            <h2 class="lead col-4">Category : <%= data.category.category %></h2>
          </div>
          <p class="card-text"><%= data.description.substring(0,120) + "..." %></p>

          <a href="/admin/<%= data.slug_title%>" target="_blank" class="btn btn-primary read-more-btn">Read More
            &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on <%= data.date %> by
          <a href="https://in.linkedin.com/in/milan-nimavat-992389165?trk=public_profile_samename_profile_profile-result-card_result-card_full-click"
            target="_blank">Milan Nimavat</a>
        </div>
      </div>
      <% })%>
      <% } %>
      <% } %>

    </div>
  </div>

  <div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search Blogs</h5>
      <div class="card-body">
        <form method="get" action="/admin">
          <div class="input-group">
            <input type="text" name="search" id="search" class="form-control inputsearch" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Go!</button>
            </span>
          </div>
        </form>
      </div>
    </div>

    <!-- All Categories Widget -->

    <div class="card my-4">
      <h5 class="card-header">All Categories</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">

              <% var count=0; %>
              <% cdatas && cdatas.forEach((cata)=>{ %>
              <% if(count%2===0){
                    %>
              <li>
                <a href="/admin?categoryId=<%= cata._id %>"><%= cata.category %></a>
              </li>
              <% count++; } 
                  else {
                    count++;
                  } %>
              <% })
                  %>
              <li> <a href="/allblogs">All</a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">

              <% var count=0; %>
              <% cdatas && cdatas.forEach((cata)=>{ %>
              <% if(count%2===1){
                    %>
              <li>
                <a href="/admin?categoryId=<%= cata._id %>"><%= cata.category %></a>
              </li>
              <% count++; } 
                  else {
                    count++;
                  } %>
              <% })
                  %>

            </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->

<%- include('./partials/footer') %>

<script>
  $('#toggler').click(() => {
    $('#sidebar').toggleClass("toggledin")
  })
</script>

<!-- <script src="/check.js" type="text/javascript"></script> -->

</html>