<%- include('./partials/header') %>

<!-- Page Content -->
<div class="container-fluid">


  <!-- SIDE MENU -->
  <div class="row">
    <div class="col-lg-2">
      <div id="viewport">
        <%- include('./partials/sidebar') %>
      </div>
    </div>
  </div>


  <!-- Blog Entries Column -->
  <div class="col-md-6">

    <!-- for tabular -->
    <% if(datas && datas.length <= 0) {%>
    <p class="display-1">Blogs not found</p>
    <%} else { %>

    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <% datas && datas.forEach((data)=>{ %>
          <td><%= data.title %></td>
          <td><%= data.category.category %></td>

          <td class="description"><%= data.description.substring(0,120) + "..." %></td>
          <td class="iconwidth">
            <span><a href="/editblog?id=<%= data._id %>"><i class="fa fa-edit editicon"></i></a></span>
            <span><a href="/deleteblog?id=<%= data._id %>"><i class="fa fa-trash trashicon"></i></a></span>
          </td>
        </tr>
        <% })%>

      </tbody>
    </table>


    <% } %>
  </div>

  <div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search Blogs</h5>
      <div class="card-body">
        <form method="get" action="/allblogs">
          <div class="input-group">
            <input type="text" name="search" id="search" class="form-control inputsearch" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Go!</button>
            </span>
          </div>
        </form>
      </div>
    </div>

    <!-- All Categories Widget -->

    <div class="card my-4">
      <h5 class="card-header">All Categories</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">

              <% var count=0; %>
              <% cdatas && cdatas.forEach((cata)=>{ %>
              <% if(count%2===0){
                      %>
              <li>
                <a href="/allblogs?categoryId=<%= cata._id %>"><%= cata.category %></a>
              </li>
              <% count++; } 
                    else {
                      count++;
                    } %>
              <% })
                    %>
              <li> <a href="/allblogs">All</a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">

              <% var count=0; %>
              <% cdatas && cdatas.forEach((cata)=>{ %>
              <% if(count%2===1){
                      %>
              <li>
                <a href="/allblogs?categoryId=<%= cata._id %>"><%= cata.category %></a>
              </li>
              <% count++; } 
                    else {
                      count++;
                    } %>
              <% })
                    %>

            </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->
<%- include('./partials/footer') %>

<!-- <script src="/check.js" type="text/javascript"></script> -->

<script>
  $('#toggler').click(() => {
    $('#sidebar').toggleClass("toggledin")
  })
</script>

</html>