<%- include('./partials/header') %>

<!-- Page Content -->
<div class="container-fluid">

  <!-- SIDE MENU -->
  <div class="row">
    <div class="col-lg-2">
      <div id="viewport">
        <%- include('./partials/sidebar') %>
      </div>
    </div>
  </div>

  <!-- Blog Entries Column -->
  <div class="col-md-6">
    <div class="blogs">
      <!-- for tabular -->
      <div class="row">
        <span class="lead mt-2" style="padding-left: 617px;"><%= datas && datas.length%> Blogs found</span>
      </div>

      <% if(datas && datas.length <= 0) {%>
      <p class="display-1">Blogs not found</p>
      <%} else { %>

      <% datas && datas.forEach((data)=>{%>
      <% let link = "/images/"+data.imageURL; %>
      <!-- Blog Post -->

      <div class="row">
        <h2 class="card-title col-8"><%= data.title %></h2>
        <h2 class="lead col-4">Category : <%= data.category.category %></h2>
      </div>
      <hr>


      <div class="card mb-4">
        <img class="card-img-top" src="<%= link %>" alt="Card image cap">
        <div class="card-body">


          <p class="card-text"> <span class="col-8"><%= data.description %></span>
          </p>
        </div>
        <div class="card-footer text-muted">
          Posted on <%= data.date %> by
          <a href="https://in.linkedin.com/in/milan-nimavat-992389165?trk=public_profile_samename_profile_profile-result-card_result-card_full-click"
            target="_blank">Milan Nimavat</a>

        </div>
      </div>
      <%})%>
      <% } %>
    </div>
  </div>

  <!-- Categories Widget -->

  <div class="col-md-4">

    <div class="card my-4">
      <h5 class="card-header">Categories</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">

              <% var count=0; %>
              <% cdatas && cdatas.forEach((cata)=>{ %>
              <% if(count%2===0){
                    %>
              <li>
                <a href="/Admin/category/<%= cata._id %>"><%= cata.category %></a>
              </li>
              <% count++; } 
                  else {
                    count++;
                  } %>
              <% })
                  %>
              <li> <a href="/admin">All</a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">

              <% var count=0; %>
              <% cdatas && cdatas.forEach((cata)=>{ %>
              <% if(count%2===1){
                    %>
              <li>
                <a href="/Admin/category/<%= cata._id %>"><%= cata.category %></a>
              </li>
              <% count++; } 
                  else {
                    count++;
                  } %>
              <% })
                  %>

            </ul>

          </div>
        </div>
      </div>
    </div>

    <h1><button type="button" class="badge badge-secondary" onclick="return goBack()">Go Back</button></h1>
  </div>

  <%- include('./partials/footer') %>

  <script>
    $('#toggler').click(() => {
      $('#sidebar').toggleClass("toggledin")
    })
  </script>
  <script>
    function goBack() {
      // alert("go back clicked")
      window.history.back();
    }
  </script>

  </html>