<%- include('./partials/header') %>

    <!-- Page Content -->
    <div class="container-fluid">

      <!-- SIDE MENU -->
      <div class="row">
        <div class="col-lg-2">
          <div id="viewport">
            <%- include('./partials/sidebar') %>
            </div>
          </div>
        </div> 

        <!-- Blog Entries Column -->
        <div class="col-md-6">
          <!-- for tabular -->

          <% if(cdatas && cdatas.length <= 0) {%>
          <p class="display-1">Categories not found</p>
          <%} else { %>
          <table class="table table-bordered mt-3">
            <thead>
              <tr>
                <th>Category Title</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% cdatas && cdatas.forEach((data)=>{%>
                <td><%= data.category %></td>
                <td><span><a href="/editcategory?id=<%= data.id %>"><i class="fa fa-edit editicon"></i></a></span>
                  <span><a href="/deletecategory?id=<%= data._id %>"><i class="fa fa-trash trashicon"></i></a></span>
                </td>
              </tr>

              <% })%>
            </tbody>
          </table>
          <% } %>


        </div>

        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search Blogs</h5>
            <div class="card-body">
              <form method="get" action="/allblogs">
                <div class="input-group">
                  <input type="text" name="search" id="search" class="form-control inputsearch"
                    placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Go!</button>
                  </span>
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>

    </div>
    <!-- /.container -->

    <%- include('./partials/footer') %>
<!-- <script src="/check.js" type="text/javascript"></script> -->
    
<script>
  $('#toggler').click(() => {
    $('#sidebar').toggleClass("toggledin")
  })
</script>

</html>