<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blogging Plateform</title>
  <link href="/css/navbar.css" rel="stylesheet" type="text/css">
  <link href="/css/blog-home.css" rel="stylesheet" type="text/css">

  <link href="/css/form.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>




</head>

<body style="background-color: pink;">


  <div class="container text-white">

    <form action="/editcategory" method="post">
      <div class="jumbotron bg-dark">
        <h5 class="display-4">Edit Category</h5>
        <div class="form-group row">
          <%# <label for="inputName" class="col-sm-1-12 col-form-label"></label> %>
          <input type="hidden" id="custId" name="id" value="<%= category._id %>">

          <div class="col-xs-12 col-md-6 edt">

            <div class="form-group">

              <label for="exampleInputEmail1">Edit Category</label>
              <input type="text" class="form-control" id="category2" name="category" aria-describedby="emailHelp"
                value="<%= category.category %>">

            </div>


          </div>

        </div>
        <div class="col-xs-6 col-md-4">
          <button type="submit" onclick="check_category_empty(event)"
            class="btn btn-primary updatebtn edt">Update</button>
        </div>
      </div>
    </form>
  </div>
  </div>

</body>
<script src="/check.js" type="text/javascript"></script>

</html>