<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blogging Plateform</title>
  <link href="/css/navbar.css" rel="stylesheet" type="text/css">
  <link href="/css/blog-home.css" rel="stylesheet" type="text/css">

  <link href="/css/form.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>




</head>

<body style="background-color: pink;">


  <div class="container text-white">

    <form action="/editblog" id="form" method="post">
      <div class="jumbotron bg-dark">
        <h5 class="display-4">Edit Blog</h5>
        <div class="form-group row">
          <%# <label for="inputName" class="col-sm-1-12 col-form-label"></label> %>
          <input type="hidden" id="custId" name="id" value="<%= data._id %>">

          <div class="col-xs-12 col-md-6 edt"><label for="title">Title:</label>
            <input id="title" type="text" class="form-control" name="title" placeholder="Title"
              value="<%= data.title  %>">
          </div>

          <!-- <div class="col-xs-12 col-md-6 edt"><label for="category">Category:</label>
                    <input type="text" class="form-control" name="category" id="inputName" placeholder="Category" value="<%= data.category %>">
                </div> -->

          <div class="col-xs-12 col-md-6 edt"><label for="category">Category:</label>
            <select id="category" class="form-control" name="category">

              <option hidden><%= data.category.category %></option>
              <% for (var i=0; i<category.length; i++)
                    {%>

              <option value="<%= category[i]._id %>"><%= category[i].category %></option>
              <%}
                    %>

            </select>
            <script src="/check.js" type="text/javascript"></script>
          </div>

          <div class="col-xs-12 col-md-6 edt"><label for="description">Description:</label>
            <textarea id="dec" type="text" class="form-control" name="dec"
              placeholder="Description"><%= data.description  %></textarea>
          </div>

          <div class="col-xs-12 col-md-6 edt"><label for="image">Image:</label>

            <input id="image" type="file" class="form-control" name="imageURL">

            <% var link = "/images/"+data.imageURL; %>
            <label for="selected image" class="mt-4">Choosen Image</label>
            <img class="img-fluid" src="<%= link %>" name="displayimage" id="displayimage1" alt="Your Image">

          </div>

        </div>
        <div class="col-xs-6 col-md-4">

          <button type="submit" onclick="check_empty(event);" class="btn btn-primary updatebtn edt">Update</button>
          <button type="button" class="btn btn-secondary updatebtn edt reset" data-dismiss="modal">Reset</button>
        </div>
      </div>
    </form>
  </div>
  </div>

</body>
<script src="/check.js" type="text/javascript"></script>

<script>
  $('#image').change(() => {

    var imgname = document.getElementById('image');
    var x = imgname.value;
    console.log("link var", "<%=link%>");

    console.log(x.slice(12));
    iname = x.slice(12)
    var path = "/images/" + iname;
    console.log("path", path);

    alert("image submited")
    $('#displayimage1').attr("src", path)

  })
</script>

<script>
  $(".reset").click(function () {
    // document.getElementById("form").reset();
    $(this).closest('form').find("input[type=text], input[type=file] , textarea").val("");
  });
</script>

</html>