<%- include('./partials/User_header') %>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-8">

      <div class="row">
        <span class="lead mt-2" style="padding-left: 572px;"><%= datas && datas.length%> Blogs found</span>
      </div>

      <% if(datas && datas.length <= 0) {%>
      <p class="display-1">Blogs not found</p>
      <%} else { %>

      <% datas && datas.forEach((data)=>{ %>
      <% let link = "/images/"+data.imageURL; %>
      <!-- Blog Post -->
      <div class="row">
        <h1 class="col-9 mt-2"><%= data.title %></h1>
      </div>

      <div class="card mb-4">
        <img class="card-img-top" src="<%= link %>" alt="Card image cap">
        <div class="card-body">
          <div class="row">
            <span class="col-8"><%= data.description %></span>
            <h2 class="lead col-4">Category : <%= data.category.category %></h2>
          </div>

          <!-- <a href="/Ublogs" target="_blank" class="btn btn-secondary">Go Back &rarr;</a> -->
        </div>
        <div class="card-footer text-muted">
          Posted on <%= data.date %> by
          <a href="https://in.linkedin.com/in/milan-nimavat-992389165?trk=public_profile_samename_profile_profile-result-card_result-card_full-click"
            target="_blank">Milan Nimavat</a>
        </div>
        <% if(datas=={}){%>
        <h1>No Data Found...!</h1>
        <%}%>
        </div>
      
         <%})%>
        <% } %>
      </div>
      <!-- Categories Widget -->
      <div class="col-md-4">

        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">

                  <% var count=0; %>
                  <% cdatas && cdatas.forEach((cata)=>{ %>
                  <% if(count%2===0){
                        %>
                  <li>
                    <a href="/category/<%= cata.slug_category %>"><%= cata.category %></a>
                  </li>
                  <% count++; } 
                      else {
                        count++;
                      } %>
                  <% })
                      %>
                  <li> <a href="/">All</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">

                  <% var count=0; %>
                  <% cdatas && cdatas.forEach((cata)=>{ %>
                  <% if(count%2===1){
                        %>
                  <li>
                    <a href="/category/<%= cata.slug_category %>"><%= cata.category %></a>
                  </li>
                  <% count++; } 
                      else {
                        count++;
                      } %>
                  <% })
                      %>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <h1><button type="button" class="badge badge-secondary" onclick="return goBack()">Go Back</button></h1>

      </div>

    </div>
  </div>

  <%- include('./partials/User_footer') %>

  <script>
    var ppp = false;
    $(document).ready(function () {
      $(".form").hide();
      $(".login").click(() => {
        $(".home").hide();
        $(".form").show();
        $("body").css("background", "#3498db");
      });
    });

    function goBack() {
      // alert("go back clicked")
      window.history.back();
    }
  </script>


  </html>