/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}
.display{
  font-size: 25px;
}
.name{
  margin-left: 20px;
}

.blogs{
  padding-left: 3%;
}
.blog-footer{
  position:fixed;
  width: 100%;
  bottom: 0;
  z-index: 9999;
}
.editicon{
  font-size: 20px !important;
  padding-left: 10%;
}
.trashicon{
  font-size: 20px !important;
  padding-left: 30%;
  color: brown;

}
.updatebtn{
  width: 100%;
  /* margin-left: 100%; */

}
.edt{
  margin-top: 20px;
}
.description{
  word-break: break-all;
}
.iconwidth{
  min-width: 100px;
}
.fixfooter{
  bottom: 0;
    position: fixed;
    width: 100%;
}
.home{
  padding-top: 30px;
  padding-bottom: 50px;
}
.textbody{
  font-family: serif;
}
.read-more-btn{
  background-color: black !important;
  font-weight: 600 !important;
}
.img-shadow:hover{
  /* box-shadow: inset 5em 1em gold !important; */
  /* box-shadow: 10px 10px grey !important; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19) !important;
  cursor: pointer;
}
.inputsearch{
  margin-right: 15px;
}
.top{
  margin-top: 20px;
}

.not-found {
  position: relative;
}

.not-found span{
  top: 300px;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: 800;
  color: #350832;
}

@media (max-width: 767px) {
  .updatebtn{
    margin-left: 0;
  } 
}