.logo{
    width: 60px;
    height: 60px;
}

img{
    width: 540px;
    height: 300px;
}
/* SIDEMENU CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-size: 18px !important;
  letter-spacing: 0.5px !important;
}

.vertical{
    display: block !important;
    background-color:#000 !important;
}
.adminnav{
  /* background-color:#151723!important; */
  background: linear-gradient(to right, #0c0c0c 0%, #3b0837 100%) !important
}
.footernav{
  /* background-color:#151723!important; */
  background: linear-gradient(to left, #0c0c0c 0%, #3c0838 100%) !important

}
.title-nav{
  font-size: 2.4rem !important;
  /* color: #f003ffe6 !important; */
}
.homenav a{
font-size: 1.3rem !important;
}
.side-menu{
  font-size: 2.5rem !important;
  font-weight: 500 !important;
}
/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  top: 80px;
  background: #000000 !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #000000;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar header h2:hover {
  font-size: 2.5rem !important;
}

#sidebar .nav a{
  background: none;
  /* border-bottom: 3px solid #455A64; */
  color: #02cdfb;
  font-size: 18px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}

.vertical li{
    font-size: 25px;
    line-height: 2;
    text-align: left;
}
.navbar-toggler{
  float:right;
  color: #02cdfb;
}
.toggledin{
margin-left: -29rem !important;
opacity: 0.5;

}

a.allblogs{
  position: relative;
  padding-left: 60px !important;
}
a.allblogs:hover{
  text-decoration: none;
}
a.allblogs::before {
  content:"\f09e";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  font-size: 20px;
  left: 25px;
  top: 15px;
}


a.addnewblog{
  position: relative;
  padding-left: 60px !important;
}
a.addnewblog:hover{
  text-decoration: none;
}
a.addnewblog::before {
  content:"\f055";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  font-size: 20px;
  left: 25px;
  top: 15px;
}


a.allcategory{
  position: relative;
  padding-left: 60px !important;
}
a.allcategory:hover{
  text-decoration: none;
}
a.allcategory::before {
  content:"\f0ac";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  font-size: 20px;
  left: 25px;
  top: 15px;
}


a.addnewcategory{
  position: relative;
  padding-left: 60px !important;
}
a.addnewcategory:hover{
  text-decoration: none;
}
a.addnewcategory::before {
  content:"\f055";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  font-size: 20px;
  left: 25px;
  top: 15px;
}

@media (max-width: 767px) {
  .toggledin{
    opacity: 0.5;
  } 
}